<div class="container__big-card">
  <div class="big-card-photo">
    <img src="https://i.stack.imgur.com/luaq2.png" 
    alt=""
    height="200px"
   
  
    >
  </div>
  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card-description">
    <a href="#">
    <p>Quisque tristique commodo placerat. Curabitur dapibus est eu velit rutrum sollicitudin. Nam eget feugiat dolor. Maecenas ligula lorem, dapibus in blandit ac, placerat eu quam. Vestibulum non tortor odio. In a viverra ex, ac hendrerit purus.  </p>
  </a>
  </div>
</div>
